<!DOCTYPE HTML>
<html>
<head>
  <title>Brian Card</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/static/assets/css/main.css" />
  <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<div id="wrapper">
		<div class="cuadro">
		  <img src="/static/images/profile.jpeg" alt="Profile Image">
		  <header>
			<h1>Brian Fortuna</h1>
			<p>Computer Science</p>
		  </header>
		  <div class="circulos">
			<a href="https://twitter.com" class="circulo">
				<i class="fab fa-twitter"></i>
			  </a>
			  <a href="https://instagram.com" class="circulo">
				<i class="fab fa-instagram"></i>
			  </a>
			  <a href="https://facebook.com" class="circulo">
				<i class="fab fa-facebook"></i>
			  </a>
		  </div>
		</div>

    <!-- Footer -->
    <div id="footer">
      <ul class="copyright">
        <li>&copy; Untitled.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>

  </div>

  <!-- Scripts -->
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/browser.min.js"></script>
  <script src="/static/assets/js/breakpoints.min.js"></script>
  <script src="/static/assets/js/util.js"></script>
  <script src="/static/assets/js/main.js"></script>

</body>
</html>
